@import url(./fonts.css);
/* Castom props */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --Prymry-color: #ba4270;
  --Link-Water-White: #fbfcfe;
  --Juan-blue: #36536b;
  --Mirage-blue: #1b262f;
  --prymry-hover: #da6d97;
  --prymry-active: #ba4270;
  --light-juan-blue: #6c8294;
  --Public-Sans: "Public Sans";
  --DM-Serif-Display: "DM Serif Display";
  --bg-body: #edf3f8;
}
/* Titles */
.title {
  color: var(--Juan-blue);
  font-family: var(--DM-Serif-Display);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -0.246px;
  /* title clasi hama "h" teglariga ishlatish munkin faqat font-siz , line-height va letter-spacing da farqlanadi */
}
/* btn */
/* btn all-btn */
.all-btn {
  max-height: 55px;
  text-decoration: none;
  display: inline-block;
  border-radius: 24px;
  background: var(--Prymry-color);
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  color: var(--Link-Water-White);
  font-family: var(--Public-Sans);
  font-size: 15px;
  padding: 16px 26px;
  font-weight: 700;
  letter-spacing: -0.115px;
  transition: 0.5s;
}
.all-btn:hover {
  background: var(--prymry-hover);
  color: var(--Link-Water-White);
}
.all-btn:active {
  background: var(--prymry-active);
  opacity: 0.6;
}
/* btn all-btn */
/* btn dark-btn */
.dark-btn {
  text-decoration: none;
  display: inline-block;
  border: 1px solid var(--Link-Water-White);
  border-radius: 24px;
  background: unset;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  padding: 16px 32px 14px;
  color: var(--Link-Water-White);
  font-family: var(--Public-Sans);
  font-size: 15px;
  font-weight: 700;
  letter-spacing: -0.115px;
  transition: 0.5s;
}
.dark-btn:hover {
  background: var(--Link-Water-White);
  color: var(--Mirage-blue);
}
.dark-btn:active {
  opacity: 0.5;
  background: unset;
  color: var(--Link-Water-White);
}
/* btn dark-btn */
/* btn ligth-btn */
.light-btn {
  text-decoration: none;
  display: inline-block;
  border: 1px solid var(--Juan-blue);
  border-radius: 24px;
  background: unset;
  padding: 16px 26px;
  color: var(--Juan-blue);
  font-family: var(--Public-Sans);
  font-size: 15px;
  font-weight: 700;
  letter-spacing: -0.115px;
  transition: 0.5s;
}
.light-btn:hover {
  background: var(--Mirage-blue);
  color: var(--Link-Water-White);
}
.light-btn:active {
  background: unset;
  color: var(--Mirage-blue);
  opacity: 0.5;
}
/* btn ligth-btn */
/* btn */
/* list style */
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}
a:hover {
  color: unset;
}
body {
  background: var(--bg-body);
}
/* list style */
/* HOME PAGE CSS START */
/* SITE-HEADER , HEADER-HERO */
.site-header {
  max-width: 100%;
  height: 10vh;
  padding-top: 3vh;
}
.header-nav {
  width: 500px;
  height: 100%;
  column-gap: 64px;
}
.header-nav__list {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 !important;
  column-gap: 40px;
}
.header-nav__link {
  color: var(--Juan-blue);
  font-family: var(--Public-Sans);
  font-size: 15px;
  font-weight: 700;
  opacity: 0.5;
  transition: 0.5s;
}
.header-nav__link:active {
  opacity: 1;
  color: var(--Juan-blue);
}
.media-nav-link {
  color: var(--Mirage-blue);
}
/* header offcanvas */
.offcanvas {
  background: var(--Mirage-blue);
}
.offcanvas-header {
  border-bottom: 1px solid var(--bg-body);
  border-radius: 10px;
}
.offcanvas-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 43px;
}
.offcanvas-link {
  color: var(--Link-Water-White);
  text-align: center;
  font-family: var(--Public-Sans);
  font-size: 20px;
  font-weight: 700;
  width: 249px;
}
/* HERO */
.hero-texts {
  max-width: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.hero-title {
  width: 546px;
  height: 243px;
  color: var(--Juan-blue);
  font-family: var(--DM-Serif-Display);
  font-size: 72px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: -0.554px;
}
.form-floating {
  width: 540px;
  height: 60px;
  display: flex;
  position: relative;
}
.form-control {
  position: absolute;
  border-radius: 24px;
}
.form-control:focus {
  box-shadow: none;
  border: #1b262f;
}
.hero-btn {
  position: absolute;
  right: 0;
  padding-bottom: 25px;
}
.hero-decsription {
  color: #6c8294;
  font-family: var(--Public-Sans);
  font-size: 15px;
  font-weight: 400;
}
.hero-imager {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
/* HERO */
/* SITE-HEADER , HEADER-HERO */
/* MAIN */
/* portners */
.partner {
  width: 100%;
  background: var(--Mirage-blue);
  padding: 100px 0;
}
.partner-texts {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.img-use-how{
  width:500px;
  height: 700px;
}
.partner-title {
  width: 445px;
  color: var(--Link-Water-White);
  font-family: var(--DM-Serif-Display);
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: -0.369px;
  margin-bottom: 24px;
}
.partner-decs {
  width: 445px;
  color: var(--Link-Water-White);
  font-family: var(--Public-Sans);
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.7;
  margin-bottom: 32px;
}
.partner-icons {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 60px;
  align-items: center;
  row-gap: 39px;
}
.icon-ofpartners {
width: 145px;
height: 31px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.icon-ofpartners-img {
}
/* portners */
/* how-useS */
.how-use-img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.how-use-texts {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 95px 0 20px;
}
.how-use-title {
  width: 445px;
  color: var(--Juan-blue);
  font-family: var(--DM-Serif-Display);
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: -0.369px;
}
.how-use-decs {
  width: 445px;
  color: var(--light-juan-blue);
  font-family: var(--Public-Sans);
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 24px;
}
/* how-useS */
/* MAIN */
/* HOME PAGE CSS START */
/* FOOTER START */
.site-footer {
  background: var(--Mirage-blue);
  padding: 31px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.site-footer__list {
  display: flex;
  column-gap: 40px;
  row-gap: 31px;
}
.header-logo__img {
  width: 135px;
  height: 38px;
}
.site-footer__link {
  color: var(--Link-Water-White);
  font-family: var(--Public-Sans);
  font-size: 15px;
  font-weight: 700;
  opacity: 0.7;
}
.footer-logo-linker {
  display: flex;
  column-gap: 30px;
}
.footer-glav__item {
  margin-right: 24px;
}
.linker-links {
  color: var(--bg-body);
}
/* FOOTER START */
